img{    /*estilo tag imagem*/
    height: 92px;   /*Altura*/
}

a{      /*tag link/ancora*/
    text-decoration: none;  /*tirou a decoração de texto*/
    color: #1f1f1f; /*cor do texto*/
    font-size: 13px;    /*tamanho da fonte*/
    font-family: sans-serif;    /*Tipo/Familia da fonte*/
}

.botao-login{   /*Tag do Botão de Login*/
    background-color: #1a73e8;  /*cor do fundo*/
    color: white;   /*cor da fonte*/
    padding: 13px 12px; /*Espaçamento interno*/
    font-weight: 500;   /*Peso da fonte*/
    border-radius: 40px;    /*Raio da borda (Curvatura)*/
}

.icones-produtos{   /*Icones de produtos*/
    width:24px ;    /*largura*/
    fill: #444746;  /*Preenchimento*/
}

footer{     /*seletor da tag Footer/Rodapé*/
    background-color: #f2f2f2;  /*Cor de Fundo*/
}

.caixa-rodape{
    display: flex;
    padding: 15px 30px; /*Espaçamento interno*/
    justify-content: space-between;
}

.caixa-rodape--borda{
    border-bottom: 1px solid #dadce0 ;/*Borda Inferior*/
}

*{
    margin: 0;  /*margem*/
    padding: 0; /*Espaçamento interno*/
    font-family: Arial, sans-serif; /*Tipo/Familia da fonte*/
    font-size: 13px;    /*tamanho da fonte*/
}

header{
    display: flex;
    align-items: center;    /*Hoizontal, a direita no espaço disponivel*/
    justify-content: flex-end;  /*itens alinhados ao centro do espaço disponivel*/
    gap: 15px;      /*espaçamento entre os elementos dentro do header*/
    padding: 9px 14px;     /*espaçamento ao redor do header*/
}

.caixa-links{
    display: flex;
    gap: 30px;  /*espaçamento entre os itens da div caixa-links*/
}